*{
  margin: 0;
}

body{
    background-color: black;
    color: white;
<<<<<<< HEAD
=======
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
>>>>>>> c83d8c2f8531aa4cb52d9b45d4cab2237e2b7c51
   
}

.container_navbarmenu {
    width: 100%;
    margin: 0;
  }
  .container_navbarmenu ul {
    background-color: #414141;
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 26px;
    overflow: hidden;
  }
  .container_navbarmenu ul li {
    text-transform: uppercase;
    display: inline;
    padding: inherit;
  }
  .container_navbarmenu ul li a {
    text-decoration: none;
    text-align: center;
    padding: 15px 13px;
    color: #fff;
    display: inline;
  }
  .container_navbarmenu ul li:hover {
    background-color: #0ebbd3;
    transition: all 0.5s ease-in-out;
  }
  
.hero-image{
    background-image: linear-gradient(rgba(9, 9, 121, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cybersecurity.jpeg');
<<<<<<< HEAD
=======
    width: 100%;
>>>>>>> c83d8c2f8531aa4cb52d9b45d4cab2237e2b7c51
    height: 500px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.hero-text h2{
    font-size: 36px;
    color: #4497D0;
    font-weight: 700;
}
.main{
    border: 2px solid white;
    background-color: white;
    margin-top: 5vh;
<<<<<<< HEAD
    margin-right: 10%;
=======
    margin-right: auto;
    margin-left: auto;
>>>>>>> c83d8c2f8531aa4cb52d9b45d4cab2237e2b7c51
    padding: 10px 10px;
    color: black;
    overflow: hidden;
    

}
.main h2{
    color: #4497D0;
    margin-right: 10px;
    text-align: center;
}
.main img{
    float: left;
    margin: 3px 12px 3px 0;
}
.main p{
   margin-left: 20px;
   padding-top: 70px;
   text-align: center;
}

.statements{
<<<<<<< HEAD
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    
}
.dropdown{
  background-color: #4497D0;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 10px; 
  
}

.active, .dropdown:hover {
  background-color: #4497;
}

.text{
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: rgb(50, 187, 171);
  color: black;
  width: 50%;
=======
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.text{
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(50, 187, 171);
  color: white;
  width: 100%;
>>>>>>> c83d8c2f8531aa4cb52d9b45d4cab2237e2b7c51
 
}
/* end of main */

/* reviews css */
 
.container{
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  
} 
.heading{
 text-align: center;
 color: #4497D0;
<<<<<<< HEAD
 margin-top: 15px;
=======
 margin: auto;
>>>>>>> c83d8c2f8531aa4cb52d9b45d4cab2237e2b7c51
}

.user-review{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
<<<<<<< HEAD
=======
  margin: auto;
  left: 0;
  right: 0;
>>>>>>> c83d8c2f8531aa4cb52d9b45d4cab2237e2b7c51
}

.review{
  background-color: grey;
  padding: 2rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
<<<<<<< HEAD
=======
  align-items: center;
 
>>>>>>> c83d8c2f8531aa4cb52d9b45d4cab2237e2b7c51

}
.review:hover{
  box-shadow:10px 10px 5px rgba(211, 211, 211, 0.5);
  transition: box-shadow 0.5s ease-in-out;
}


.review_text{
  margin-bottom: 2rem;
  z-index: 10;
  position: relative;
}
.review_user{
  display: flex;
  align-items: center;
}
.review_photo{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}
.review_user-box{
  margin-right: auto;
}
.review_user-name{
  font-size: 1.1rem;
  font-weight: 600;
  color: #0ebbd3;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}
.review_user-occupation{
  font-size: 1rem;
}
.checked{
  color: orange;
}

.review::before{
  content: '\201C';
  position: absolute;
  top: -2.75rem;
  left: -1rem;
  line-height: 1;
  font-size: 20rem;
  color: lightgray;
  font-family: sans-serif;
  z-index: 1;


}
/* end of reviews css */

footer{
  position: relative;
  left: 0;
  bottom: 0;
<<<<<<< HEAD
  /* width: 100%; */
=======
>>>>>>> c83d8c2f8531aa4cb52d9b45d4cab2237e2b7c51
  margin-top: 10px;
  padding: 15px;
  background-color:grey;
  color: white;
  text-align: center;
}